@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
$blue: rgb(21,164,218);
$navy: rgb(0, 88, 171);
// body{
//     font-family:Helvetica, sans-serif;
// }
// html{
// 	padding-left: 15%;
// 	padding-right: 15%;
// 	padding-top: 10%;
// 	padding-bottom: 10%;
// 	overflow-x: hidden;
// 	overflow-y:scroll;
// 	z-index: 5;
// 	padding: 0;
// 	height: 100%;
// 	// background-image: url("../img/ib_logo.png");
// 	// background-attachment: fixed;
// 	// background-position: right;
// 	// background-repeat: no-repeat;
// 	// background-size: cover;
// 	// background-size: 50% 100%;
	
// }
body, html {
	margin: 0;
	overflow-x: hidden;
	font-family: 'Times New Roman', Times, serif;
	font-size: 50px;
	padding: 0;
	width: 100%;
	height: 100%;
  }
.background-photo{
	width: 75vmax;
	height: 75vmax;
	z-index: 0;
	position: fixed;
	right: -200vmax;
	padding: 0;
	// top: 12.5vmax;
	animation: slide_in_right ease-out 3s forwards;
}
.background-photo img{
	padding:0;
	margin: 0;

}
@keyframes slide_in_right{
	0%{
		translate: 200vmax;
		// right: -200vmax;
		transform: rotate(0deg);
		// filter: none;
	}
	50%{
		translate: 20vmax;
		transform: rotate(360deg);
		// filter: none;
	}
	100%{
		// filter: blur(5px);
		// right: -20vmax;
		translate: 20vmax;
		transform: rotate(360deg);
	}
}

.slide-in-menu{
	position: absolute;
	height: 100%;
	left: -200vmax;
    animation: slide_in_left ease-out 1.7s forwards;
}
.menu{
	margin-top: 30vmin;
}
@keyframes slide_in_left{
	0%{
		left: -200vmax;
	}
	100%{
		left: 2vmax;
	}
}

.menu button{
	text-decoration: none;
	font-size: 3.75vmin;
	margin-bottom: 1.5vmin;
	margin-top: 0;
	font-weight: bold;
	position: relative;
	padding: 10px 20px;
	color: $blue;
	background-color: white;
	border: none;
	cursor: pointer;
	overflow: hidden;
	transition: background-color 0.3s ease;
}
  
  .menu button:hover {
	background-color: white;
  }
  
  .arrow {
	position: absolute;
	right: 2px;
	top: 50%;
	border: solid #fff;
	border-width: 0 7px 7px 0;
	display: inline-block;
	padding: 5px;
	transform: translateY(-50%) rotate(-45deg);
	transition: border-color 0.3s ease;
	animation: arrow-out 1s forwards;
  }
  .arrow-present{
	position: absolute;
	right: 2px;
	top: 50%;
	border: solid $blue;
	border-width: 0 7px 7px 0;
	display: inline-block;
	padding: 5px;
	transform: translateY(-50%) rotate(-45deg);
  }
  .menu button:hover .arrow {
	border-color: $blue;
	animation: arrow-animation 1s forwards;
  }
  
  @keyframes arrow-animation {
	0% { border-color: white; }
	100% { border-color: $blue; }
  }
  @keyframes arrow-out{
	0% { border-color: $blue; }
	100% { border-color: white; }
  }
#name{
	font-size: 6vmin;
	font-weight: bold;
	color: $navy;
	z-index: 1;
	margin-bottom: 0;
	padding-bottom: 0;
}
.line-name{
	border: 3px solid $navy;
	margin-top: 0;
	padding-top: 0;
}
//   .home{
// 	--stroke-dashoffset:450;
// 	stroke-dasharray: 450;
// 	stroke-dashoffset: var(--stroke-dashoffset);
//   }



.parallax {
	position: relative;
	min-height: 100%;
	width: 100vmax;
	height: 100vmin;
	background-attachment: fixed;
	background-position: right;
	background-repeat: no-repeat;
}
  .parallax::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100vmax;
	height: 100vmin;
	background-image: url('../img/ib_logo.png');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 75%;
	animation: slide_in_right 3s ease-out forwards;
  }
  
  .content {
	background-image: url('../img/ib_logo.png');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 75%;
	position: relative;
	margin-top: 93vmin;
  }
// .left-menu{
// 	transform: scale(0);
// 	position: fixed;
// 	z-index: 10;
// 	left: -2px;
// 	top: 35vmin;
// 	background-color: $navy;
// 	// padding: 0.75vmin;
// 	border: 2px solid $navy;
// 	border-radius: 0 5px 5px 0;
// 	animation: smaller 0.5s forwards;
// }
// .left-menu .menu-container:hover{
// 	animation: extend 0.5s forwards;
// }
// .left-menu svg{
// 	fill: white;
// 	width: 4vmin;
// 	height: 4vmin;
// }
// .left-menu .icon{
// 	padding: 0.5vmin;
// 	// animation: smaller 0.5s forwards;
// }
// .left-menu img{
// 	width: 4vmin;
// 	height: 4vmin;
// }
// .text{	
// 	display: inline-block;
// 	height: 4vmin;
// 	vertical-align: center;
// 	font-size: 0;
// 	opacity: 0;
// 	width: 0;
// 	height: 0;
// 	position: absolute;
// 	animation: show-text 0.5s backwards;
// }
// .left-menu .icon:hover{
// 	background-color: white;
// 	cursor: pointer;
// 	// animation: extend 0.5s forwards;
// }
// .left-menu .last{
// 	padding-bottom: 0;
// }
// @keyframes slide-in {
// 	0% {
// 		transform: translateX(-100%);
// 		opacity: 0;
// 	}
// 	100% {
// 		transform: translateX(0);
// 		opacity: 1;
// 	}
// }

// @keyframes slide-out {
// 	0% {
// 		transform: translateX(0);
// 		opacity: 1;
// 	}
// 	100% {
// 		transform: translateX(-100%);
// 		opacity: 0;
// 	}
// }

// @keyframes extend{
// 	0%{
// 		width: 4.75vmin;
// 	}
// 	100%{
// 		width: 15vmin;
// 	}
// }
// @keyframes smaller{
// 	0%{
// 		width: 15vmin;
// 	}
// 	100%{
// 		width: 4.5vmin;
// 	}
// }
// @keyframes show-text{
// 	0%{
// 		font-size: 0;
// 		opacity: 0;
// 	}
// 	100%{
// 		font-size: 4vmin;
// 		opacity: 1;
// 	}
// }
.info-block{
	padding-left: 5vmax;
	padding-right: 5vmax;
	padding-top: 5vmin;
	padding-bottom: 5vmin;
	background-color: $navy;
	color: white;
}
.info-title{
	font-weight: bold;
	font-size: 5vmin;
}
.info-content{
	font-size: 3vmin;
}

.transparent-block{
	height: 50vmin;
	width: 100vmax;
	background: transparent;
}

.groups-select{
	padding-left: 4vmax;
	padding-right: 4vmax;
	padding-top: 5vmin;
	padding-bottom: 5vmin;
	background-color: $navy;
	color: white;
	float: center;
	text-align: center;
}

.group{
	font-size: 4vmin;
	display: inline-block;
	margin-right: 5vmax;
}
.subject{
	font-size: 3vmin;
}

a{
	color: white;
	font-weight: bold;
}
.info-short{
	font-size: 3vmin;
	font-weight: bold;
}

.footer{
	text-align: center;
	padding: 5vmin;
	width: 100vmax;
	font-size: 4vmin;
	background-color: $blue;
	color: white;
}